@media (min-width:1280px) { /*если убираем картинку с шапки в CSS 35пункт*/
    .site-header .wrapper {
        background-image: url(../img/cte.png);
        background-repeat: no-repeat;
        background-position: right 167px;
        }
        .timetable-info h2 {
            font-family: Pang;
        }
}
@media (max-width:1024px) {
    .wrapper {
        width: 85%;/*отступы по краям при сужении*/
    } 
    .content .column-container:first-child {/*псевдо класс*/
        flex-direction:column; /*меняем направление главной оси - контейнеры в колонку*/
    }
    .content .column-container:first-child .right-column {
        max-width: none;
    }
}
@media (max-width: 960px) {
    .footer-columns .right-column {
        column-gap: 20px;/*размер колонок уменьшается при сжатии*/
    }
    .vacation-request .column-container {
        flex-wrap: wrap;/*перестроение левой надписи - над формой при сжатии*/
    }
}
@media (max-width: 768px) {
    .column-container {
        flex-wrap: wrap;/*все контейнеры переносятся при сжатии*/
    }
    .content .left-column img {/*сжать карту*/
        width: 300px;
        height: auto;
    }
    .site-header .about-us { /*надпись "Зоомаркет Степашка" подвинута влево*/
        margin-left: -60px;
    }
    .timetable-fligts:first-child {
        flex-direction: column-reverse;
    }
    .content .column-container:first-child {
        flex-direction: column-reverse; /*при расширении экрана карта спускается ниже текста*/
    }
    .footer-columns {
        flex-direction: column-reverse;/*изменить направление главной оси*/
    }
    .contact-menu {
        margin: 0;
        justify-content: center;
    }
    .site-menu, .contact-menu {/*меняем кнопки меню на бутерброд,т.е.отключаем*/
        visibility: hidden;
    }
    .main-nav {
        flex-direction: column;
    }
    .toggle-btn  { /*стилизуем кнопку*/
        position: absolute;
        right: 25%;
        top: 50px;
        width: 36px;
        cursor: pointer;
    } 
    /*добавляем гамбургер*/
    .toggle-btn > span, 
    .toggle-btn > span::before,
    .toggle-btn > span::after {
        display: block;
        position: absolute;
        
        width: 30px;
        height: 3px;
        background-color: #FFCB06;
    }
    .toggle-btn > span::before {
        content: '';
        top: -8px;
    }
    .toggle-btn > span::after {
        content: '';
        top: 8px;
    }
    /*конец добавления гамбургера*/

    /*cтилизуем бутербродик при открытии и закрытии*/
    #nav-toggle:checked ~ .toggle-btn > span {
        transform: rotate(45deg);/*переворачиваю палки*/
    }
    #nav-toggle:checked ~ .toggle-btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #nav-toggle:checked ~ .toggle-btn > span::after {
        top: 0;
        transform: rotate(90deg);/*переворачиваю палки*/
    }
    /*стилизуем блок меню при открытии*/
    #nav-toggle:checked ~ .site-menu {
        flex-direction: column;
        row-gap: 40px;
        visibility: visible;
    }
    #nav-toggle:checked ~ .contact-menu {
        visibility: visible;
    }
}
