/*general */
/* @import url(`https://fonts.googleapis.com/css2?family=Caveat&display=swar`); */
* {
    margin: 0;
    padding: 0;
}
@font-fase {
    font-family: Pang; /*имя шрифта*/
    src: url("https://fonts/Pangolin-Regular.ttf"); /*путь к файлу со шрифтом*/
}
body {
    font-size: 15px;
    line-height: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
}
.wrapper {
   width: 70%;
    margin: 0 auto;
}
.hidden {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    margin: -1px;
    opacity: 0;
}
/*end general */

.site-header {
    background: #9E3B3B;
}
.site-header .wrapper {
    background-image: url(../img/cte.png);/*можно убрать background и картинка при сжатии исчезнет - в мобильном приложении, т. к.background перересла в media*/
    background-repeat: no-repeat;
    background-position: right 167px;
        
    padding-top: 54px;
    padding-bottom: 180px;
}
.main-nav {
    display: flex;
    margin-bottom: 115px;
}
.logo {
    margin-right: 102px;
}
img {
    width: 70px;
    height: 70px;
}
ul {
    list-style: none;
}
.site-menu {
    display: flex;
    align-items: center;
}
.site-menu a {
    text-decoration: none;
    display: block;
    color: #FFFFFF;
    margin-right: 46px;
}
/*.site-menu li>a:last-child>a {
    margin-right: 0;
}
/*contact menu */
.contact-menu{
    display: flex;
    align-items: center;
    margin-left: auto;
    column-gap: 27px;
}
.contact-menu .icon {
    width: 17px;
    height: 17px;
    display: block;
}
.contact-menu .icon-mail {
    background: url("../img/icon-mail1.png") no-repeat;
}
.contact-menu .icon-phone {
    background: url(../img/icon-phone1.png) no-repeat;
}
/* end contact menu */
.about-us {
    width: 244px;
    padding-left: 124px;
}
.about-us h1 {
    font-family: 'Inter';
    line-height: 54px;
    font-size: 45px;
    margin-bottom: 39px;
    color: #FFF;
}
.about-us p {
    margin-bottom: 74px;
}
.about-us {
    
}
.btn {
    display: inline-block;
    position: relative;
    text-decoration: none ;
    text-transform: uppercase;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    padding: 15px 60px;
    padding-right: 90px;
}
.btn::after {
    content: "";

    position: absolute;
    width: 19px;
    height: 16px;
    right: 13px;
    background: url(../img/right-arrow-dark\ 1.jpg) no-repeat;
    }
.btn-yellow {
    background-color: #FFCB06;
}
.advantage {
    background-color: #9A2525; 
    padding: 90px 0;
}
.advantage-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50 px 80px;
}
.advantage-list li {
    padding-top: 80px;
    width: 150px;
    position: relative;
}
.advantage-list li::after {
    content: "";
    width: 75px;
    height: 65px;

    position: absolute;
    top: 0;
    left: 0;
}
.advantage-made::after {
    background: url("../img/images1.png") no-repeat;
}
.advantage-food::after {
    background: url("../img/images2.png") no-repeat;
}
.advantage-pilot::after {
    background: url("../img/images3.png") no-repeat;
}
.advantage-rover::after {
    background: url("../img/images4.png") no-repeat;
}
.content {
    color: black;
    padding: 130px 0 63px;
}
.column-container {
    display: flex;
    gap:  10px 80px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.left-column, .right-column {
    max-width: 480px;
}
.content p {
    margin-top: 25px;
}
/*.lead {
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
}*/
.content .lead {
    margin: 0 0 20px;
}
.recomendation-list {
    padding-top: 20px;
}
/*.recomendation-list li,.right-column {
    padding: 25px 25px 0px 0px;
}*/
/*.recomendation-list li {
    margin-bottom: 28px;
    position: relative;
}
.recomendation-list li::before {
    content: "";
    background: #FFCB06;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    position: absolute;
    left: -23px;
    top: 4px;
}*/
.content .wrapper:first-child {
    margin-bottom: 20px;
}
.left-column img {
    width: 440px;
    height: 289px;
    padding: 30px 0px;
} 
/*.content p .right-column {
    width: 416px;
    height: 200px;
}*/
/*start form */
.vacation-request {
    padding: 100px 0 70px;
    color:#000;
    background-color: #F0F0F0;
}
.vacation-request .lead {
    margin-bottom: 60px;
    padding-right: 160px;
}
.vacation-request p, /*.vacation-request .lead*/ {
    width: 340px;
}
.vacation-form  {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 8px;
    /*column-gap: 10px;*/
}
.vacation-form div {
    width: 100%;
}
.vacation-form input[type ="tel"], .vacation-form input[type ="text"] {
    box-sizing: border-box;
    width: 100%;
    padding: 17px 23px 17px 23px;
}
.vacation-form .half-field {/*делим в форме рост и вес на половинки*/
    width: 49%;
}
.vacation-form input[type ="checkbox"] {/*оформляем галочку перед надлисью "согласене на обработку персональных данных*/
   position: absolute;
   opacity: 0;/*скрыть*/
   z-index: -1;/*сдвинуть на задний фон*/
}
.vacation-form input[type ="checkbox"] ~ label::before { /*оформляем галочку перед надлисью "согласене на обработку персональных данных - по умолчанию, когда чикбокс выключен*/  
    content: "\2713";/*css код галочки*/
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    color: #FFF;
    font-weight: bold; /*толщина галочки*/
    background: #FFFFFF;
    margin-right: 1em;
    border: 1px solid #FFF;
}
.vacation-form input[type ="checkbox"]:checked ~ label::before {/*оформляем галочку перед надлисью "согласене на обработку персональных данных - когда чикбокс включен*/
    color: #000;
}
.btn-black {
    color: #FFFFFF;
    background: #222222;
    margin-top: 40px;
}
.btn-black::after {
    background: url(../img/right-arrow-white\ 1.png) no repeat;
}
/* end form */
.timetable { /* оформление таблицы "Услуги центра"*/
    background-color: #9E3B3B;
    padding: 84px 0;
    width: 100%;
}
.timetable-info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 73px;
    gap: 20px 40px;
}
.timetable-info h2 {
    color: #FECA30;
    font-family: 'Inter';
    font-style: normal;
    /*font-weight: 400;*/
    font-size: 24px;
    line-height: 29px;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 160px;
 
letter-spacing: 0em;
text-align: left;
}
.timetable-info p {
    margin-left: auto;
    width: 440px;
}
.timetable-info a {
    color: #FECA30;
}
.timetable-fligts {
    width: 100%;
    border-collapse: collapse;/*растянуть между строками и столбцами*/
  
}
.timetable-fligts tr {
    border-bottom: 1px solid #555555;/*граница между строками - черта внизу*/
}
.timetable-fligts th { /*заголовочная часть таблицы-ячейкам*/
    background: #000000;
    text-align: left; /*выравниваем текст слева*/
    padding: 15px;
}
.timetable-fligts td {
    padding: 15px;
}
.cat img { /*добавила кошечку*/
    width: 200px;
    height: 200px;
}
.site-footer {
    padding-top: 50px;/*отступ сверху*/
    padding-bottom: 80px;/*отступ cнизу*/
    margin: 100px;
    color: #FFFFFF;
    background-color: #131313;
    }
.footer-columns { /*колонки*/
    display: flex;
    justify-content: space-evenly; /*растягиваем с одинаковым отступом*/   
}
.footer-columns .left-column {
    display: flex;
    flex-direction: column;/*направление главной оси в колонку*/
    width: 180px; /*общая ширина колонки*/
    margin-right: 100px; /*отступ справа - до расстояния другого блока*/
} 
.footer-columns .left-column img {
    width: 80px;
    height: 80px;
}
.logo-container {
    display: flex;
    align-items: center;
}
.logo-container .logo {
    margin-right: 20px;
}
.copyright {/*надпись у логотипа*/
    margin-top: auto;
    color: #5C4343;
}
.footer-columns .right-column {
    padding-top: 45px;
    display: flex;
    max-width: none;/*убираем максимальную ширину у правой колонки*/
    column-gap: 80px;/*отступ между элементами колонок*/
}
.footer-menu {
    width: 180px;
}
.footer-submenu-title {
    display: block;
    margin-bottom: 50px;
    padding-bottom: 20px;
    font-size: 14px;
    color: #111111;
    /*color: #F0F0F0;*/
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid #9E3B3B; /*нижнее подчеркивание слов в футере*/
}
.footer-submenu >li {

    margin-bottom: 20px;
}
.footer-submenu a {
    text-decoration: none;/*убираем нижнее подчеркивание*/
    color: #888888;
}
/*.timetable-fligts{ /*шрифт в таблице курсив*
    font-family: 'Caveat', cursive;
}*/